//Utilizo SCSS para poder organizar de mejor manera las clases y las subclases
:root {
    --modify-cyan: hsl(177, 62%, 47%);
    --very-dark: hsl(180, 26%, 30%);
    --dark-gray: hsl(227, 10%, 46%);
  }
  html {
    box-sizing: border-box;
    font-size: 62.5%; 
    
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .img{
    height: 100px;
    width: 300px;
    display: block;
  }
body{
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--modify-cyan);
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;

}
.flex{
    display: grid;
    grid-template-columns: repeat(5, 1fr); // crea las cartas con espaciado entre ellas
    padding: 20px;
    justify-content: center;
    height:  100vh;
    margin-left: 8px;
    margin-right: 5px;

    

    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    margin-bottom: -20px;
  }
  
  header .img {
    max-width: 100%; 
    height: auto;   
  }

.container{
    display:flex-start;
    justify-content:center;
    align-items:flex-start;
    margin-left: 10px;

}
.card{
    max-width: 200px;
    width: 200px;
    height: 280px;
    text-transform: capitalize;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.322);
    animation: rotate 0.6s ease forwards;


    
    &-header{
        border-bottom: 3px solid black;
        width: 100%;
        display: block;
    }
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--dark-gray);
        border-radius: 50px;

        &-img{
            border: 3px solid black;
            background-color: white;
            width: 125px;
            height: 125px;
            border-radius: 100%;
            margin-top: -60px;
        }
        &-name{
            font-size: 15px;
            color: var(--dark-gray);
            font-weight: 400;
            span{
                color: black;
                font-weight: 700;
            }
        }
        &-text{
            margin-top: -10px;
            font-size: 12px;
        }
 
    }
    &-footer{
        display: flex;
        justify-content:space-evenly;
    }  
    
}
//Animacion
@keyframes rotate {
  from {
      transform: rotateY(0deg);
      opacity: 0;
  }
  to {
      transform: rotateY(360deg);
      opacity: 1;
  }
}